@model ITCenterBack.ViewModels.HeaderViewModel
@{
}

    <header class="fixed-top main-header header-white transparent with-side-panel-ico" id="waituk-main-header">
        <div id="nav-section">
            <div class="bottom-header container-fluid mega-menus" id="mega-menus">
                <nav class="navbar navbar-toggleable-md no-border-radius no-margin mega-menu-multiple"
                 id="navbar-inner-container">
                    <button type="button" class="navbar-toggler navbar-toggler-left" data-toggle="collapse"
                        data-target="#mega-menu">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand mr-auto m-sm-auto" href="#">
                        <img class="mobile-logo"
                         src="/assets/for_new/img/icons/logo.svg" alt="IT-центр"> <img class="mobile-logo"
                                                                                       src="/assets/for_new/img/icons/logo.svg" alt="IT-центр">
                    </a>
                    <div class="collapse navbar-collapse flex-row-reverse" id="mega-menu">
                        <ul class="nav navbar-nav">
                            <li class="dropdown dropdown_first" data-animation="fadeIn">
                                <a class="dropdown-toggle formula" href="#" data-title="Home"> IT-центр </a>
                            </li>
                            <li class="dropdown dropdown_second" data-animation="fadeIn">
                                <a class="dropdown-toggle" href="#about-hr" data-title="Home"> О нас </a>
                            </li>
                            <li class="dropdown dropdown_third" data-animation="fadeIn">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-title="Home">
                                    Направления
                                </a>
                                <ul class="dropdown-menu no-border-radius">
                                @foreach (var t in Model.Courses)
                                {
                                    <li class="dropdown_third colored">
                                        <a href=@Url.Content("/api/Course/Details/" + @t.Id)>
                                            @t.Name
                                        </a>
                                    </li>
                                }
                                </ul>
                            </li>

                            <li class="dropdown_fourth">
                                <a href="schedule.html"> Расписание</a>
                            </li>

                            <li class="dropdown_fifth">
                                <a href="person.html"> Преподаватели</a>
                            </li>

                            <li class="dropdown_sixth">
                                <a href="kontakty.html"> Контакты </a>
                            </li>

                            <li class="dropdown dropdown_seventh" data-animation="fadeIn">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-title="Home">
                                    Подписывайтесь
                                </a>
                                <ul class="dropdown-menu no-border-radius">
                                    <li class="dropdown_seventh colored">
                                        <a href="https://vk.com/abiturvsu">
                                            <ion-icon name="logo-vk"></ion-icon>
                                            ВКонтакте
                                        </a>
                                    </li>
                                    <li class="dropdown_seventh colored">
                                        <a href="https://www.instagram.com/tvu.vsu/">
                                            <ion-icon name="logo-instagram"></ion-icon> Instagram
                                        </a>
                                    </li>
                                    <li class="dropdown_seventh colored">
                                        <a href="https://www.youtube.com/channel/UCo18_krqqaEWSb6_cbHnupQ">
                                            <ion-icon name="logo-youtube"></ion-icon> Youtube
                                        </a>
                                    </li>
                                    <li class="dropdown_seventh colored">
                                        <a href="https://www.facebook.com/vsu.by">
                                            <ion-icon name="logo-facebook"></ion-icon> Facebook
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>