@using ITCenterBack.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ITCenterBack.ViewModels.SectionViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Изменить секцию";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Изменить секцию </h2>
			</div>
			@using (Html.BeginForm("Update", "Section", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
				@Html.HiddenFor(model => model.Id)

				<div class="admin-form__item">
					<label class="input__label">
						Введите название <br />
						@Html.EditorFor(model => model.Name) <hr />
					</label>
					<label class="input__label">
						Изображение <hr />
						<img src=@Model.Image alt="images">
						@Html.HiddenFor(model => model.Image)
						<br />
						Обновить изображение
						<div class="editor-field">
							<input type="file" name="uploadedFile" accept="image/png, image/jpeg, image/gif, image/bmp" />
						</div>
					</label>
					<label class="input__label">
						<br></br>
						Описание <hr />
						@Html.TextAreaFor(model => model.Description)
					</label>
				</div>

				<div class="admin-form__item buttons">
					<input class="primary-button" type="submit" value="Сохранить" />
				</div>
			}

			<div class="admin-form__item buttons">
				<a class="secondary-button" href=@Url.Content("/api/Section/All")>Отмена</a>
			</div>
			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>