@model ITCenterBack.ViewModels.SquareDetailsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Преподаватели | IT - центр";
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>

<main class="no-banner">
    <!-- visual/banner of the page -->
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Учащиеся курсов IT-академии “МИР будущего” </h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="centered">
            <div class="container">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <h3 style="display: flex;">Учащиеся курсов IT-академии “МИР будущего” могут принимать участие в следующих мероприятиях: </h3>

                    <ul>
                        <li><p><h>Международный математический Турнир городов и Республиканский турнир юных математиков</h6></p></li>
                        <li><p><h>Районные и областные этапы республиканской олимпиады школьников по математике, физике и информатике</h6></p></li>
                        <li><p><h>Областная практическая конференция “Эврика” и республиканская практическая конференция (конкурс исследовательских работ) учащихся</h6></p></li>
                        <li><p><h>Республиканская летняя научно-исследовательская школа “Бригантина”</h6></p></li>
                        <li><p><h>Олимпиада по программированию в рамках недели факультета</h6></p></li>
                        <li><p><h>Областная научно-техническая конференция «Квант»</h6></p></li>
                        <li><p><h>Республиканский конкурс научно-технического творчества учащейся молодежи «ТехноИнтеллект»</h6></p></li>
                        <li><p><h>Республиканская олимпиада по робототехнике среди учащейся молодежи</h6></p></li>
                        <li><p><h>Областная олимпиада по программированию "Информаша"</h6></p></li>
                        <li><p><h>Областная олимпиада по информатике "Юный программист"</h6></p></li>
                        <li><p><h>Акция "Час кода"</h6></p></li>
                    </ul>
                    <br><br>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>@await Html.PartialAsync("/Views/Shared/_Footer.cshtml", Model.Footer)</footer>
