@model ITCenterBack.ViewModels.SquareDetailsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Преподаватели | IT - центр";
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>

<main class="no-banner">
    <!-- visual/banner of the page -->
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Ориентация на будущее</h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="centered">
            <div class="container">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <p>
                        <h>
                            В наше время наблюдается бурное развитие вычислительной техники и робототехники. Уже сейчас представители многих профессий могут быть эффективно заменены автоматическими устройствами. Как примеры можно назвать такие профессии, как: работник склада, экономист, бухгалтер, курьер, медработник, оператор колл-центра, продавец, водитель, военный, строитель, уборщик и многие другие.</h6>
                            <br><br><p>
                                <img src="/images/ANDWthYmyce1O6v.jpg" />
                            </p>
                            <br><br>
                            <h>
                                Однако вместо множества профессий и специальностей, востребованность в которых уменьшиться, появляются новые. Так например, нужны будут инженеры и техники, которые будут создавать эти устройства. Программисты, которые будут писать программное обеспечение. Тестировщики и специалисты по качеству ПО, бизнес-аналитики, дизайнеры и т.д.</h6>
                                <br><br><p>
                                    <img src="/images/IF9ZGjAWdRe2VSx.jpg" />
                                </p>
                                <br><br>
                                <h>
                                    В связи с этим, профессии связанные с IT-индустрией в течении следующих лет будут одними из самых востребованных и высокооплачиваемых как у нас, так и во всем мире. В IT-академии мы всегда ориентируемся на будущее и на обучение тем навыкам, которые необходимы для IT-специалистов высочайшего уровня.</h6>
                                    <br><br><p>
                                        <img src="/images/enNXbo0mUf5IlwQ.jpg" />
                                    </p>

                </div>
                <br><br>
            </div>
        </div>
    </section>

</main>

<footer>@await Html.PartialAsync("/Views/Shared/_Footer.cshtml", Model.Footer)</footer>
