@model ITCenterBack.ViewModels.SquareDetailsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Преподаватели | IT - центр";
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>

<main class="no-banner">
    <!-- visual/banner of the page -->
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Инновационные технологии обучения</h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="centered">
            <div class="container">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <p>
                        <h>
                            Изменения, которые происходят в нынешнем информационном обществе, устанавливают новые взгляды и методы в современном образовании. Для соответствия знаний, умений и навыков студентов требованиям современного общества в учебном процессе студентов факультета математики и информационных технологий используются современные инновационные технологии, которые повышают качество образования, позволяют результативно распределить учебное время.</h6>
                            <br>

                            <h>
                                Применение информационных и телекоммуникационных технологий дает возможность создания качественно новой информационной образовательной среды, среды без границ с возможностью построения глобальной системы дистанционного обучения. Одним из приоритетных направлений в этой области является широкое внедрение электронных технологий в учебный процесс.</h6>
                                <br>
                                <ul>
                                    <li><p><h>успешно функционирует виртуальная образовательная среда (sdo.vsu.by), в которой размещены материалы по всем дисциплинам учебных планов;</h4></li>
                                    <li><p><h>в учебные планы включаются новые дисциплины, направленные на изучение ИКТ, например, образовательный курс Intel "Проектная деятельность в информационно-образовательной среде XXI века", курс "Облачные сервисы" и др;</h4></p></li>
                                    <li><p><h>с 2009г. созданы два учебно-научно-производственных комплекса с резидентом номер один Парка высоких технологий – ИЧУПТП «ЭПАМ Системз» и ООО «Фабрика инноваций и решений».В рамках комплекса с «ЭПАМ Системз» создана лаборатория компьютерных технологий, на базе которой IT-компанией «ЭПАМ Системз» бесплатно осуществляется дополнительная подготовка студентов факультета сверх учебных планов в области информационных технологий (элективные курсы, организуемые «ЭПАМ Системз», с выдачей сертификата) и организуются тренинги для студентов факультета, позволяющие максимально приблизить уровень подготовки студентов к требованиям современного высокотехнологичного предприятия;</h6></p></li>
                                    <li><p><h>совместно с Парком высоких технологий создан региональный белорусско-индийский учебный центр в области информационных и коммуникационных технологий. Благодаря установленному в центре новейшему оборудованию студенты участвуют в on-line семинарах, которые организуются администрацией Парка высоких технологий в Минске, а также в международных видеоконференциях, слушают лекции преподавателей известных университетов мира и ведущих специалистов в области IT- технологий.</h6></p></li>
                    </p>
                    </ul>
                    <br><br>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>@await Html.PartialAsync("/Views/Shared/_Footer.cshtml", Model.Footer)</footer>
