@model ITCenterBack.ViewModels.SquareDetailsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Преподаватели | IT - центр";
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>

<main class="no-banner">
    <!-- visual/banner of the page -->
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">STEM образование</h1>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="centered">
            <div class="container">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <p>
                        <h>
                            Полноценное планомерное обучение, включающее в себя изучение естественных наук совокупно с инженерией, технологией и математикой, представляет собой STEM образование. По сути, это учебный план, который спроектирован на основе идеи обучения учащихся с применением междисциплинарного и прикладного.</h6>
                            <br>
                            <h>
                                Современная прогрессивная система, в отличие от традиционного обучения, представляет собой смешанную среду, которая позволяет на практике продемонстрировать, как данный изучаемый научный метод может быть применен в повседневной жизни. Учащиеся помимо математики и физики исследуют робототехнику и программирование. Дети воочию видят применение знаний точных дисциплин.</h6><br><br>
                                <p>
                                    <img src="/images/AC4lMeuSbyqK5vW.jpg" /><br><br>
                                    <h>
                                        <b>Преимущества STEM технологий в образовании:</b></h6>
                                        <ul>
                                            <li><p><h>Активация коммуникативных навыков. Внедрение данной системы в основном включает в себя командную работу. Ведь большую часть времени дети совместно исследуют и развивают свои модели. Они учатся строить диалог с инструкторами и своими друзьями.</h6></p></li>
                                            <li><p><h>Совершенствование навыков критического мышления. Учащиеся и студенты учатся преодолевать нестандартные задачи путем тестирования и проведения различных опытов. Все это позволяет им подготовиться ко взрослой жизни, где они могут столкнуться с необычными, нестандартными проблемами.</h6></p></li>
                                            <li><p><h>STEM-образование является своеобразным мостом, соединяющий учебный процесс, карьеру и дальнейший профессиональный рост. Инновационная образовательная концепция позволит на профессиональном уровне подготовить детей к технически развитому миру.</h6></p></li>
                                </p>
                                </ul>
                    </p>
                    <br><br>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>@await Html.PartialAsync("/Views/Shared/_Footer.cshtml", Model.Footer)</footer>
