@model ITCenterBack.ViewModels.TeacherViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "Удалить преподавателя";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Удаление</h2>
			</div>
			<table>
				<colgroup id="a" span="5"></colgroup>
				<thead>
					<tr><th>ФИО Преподавателя</th><th>Должность</th></tr>
				</thead>
				<tbody>
						<tr>
							<td>@Model.Name</td>
							<td>@Model.Description</td>
						</tr>

				</tbody>
			</table>

			@using (Html.BeginForm())
			{
				@Html.AntiForgeryToken()
				<div class="form-actions no-color">
					<input type="submit" value="Удалить" class="file-button" />
					|
					@Html.ActionLink("Назад", "Teachers")
				</div>
			}

			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>
