@model List<ITCenterBack.ViewModels.SchoolViewModel>
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Школы";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">Школа</h2>
			</div>
			<table>
				<colgroup id="a" span="5"></colgroup>
				<thead>
					<tr><th>Название</th></tr>
				</thead>
				<tbody>
					@foreach (var t in Model)
					{
						<tr>
							<td>@t.Name</td>
							<td>
								<button class="file-button" type="file">Удалить</button>
								<button class="file-button" type="file">Редактировать</button>
							</td>
						</tr>
					}
				</tbody>
			</table>

			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>