@model ITCenterBack.ViewModels.AllNewsViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Все новости | " + Model.Footer.Info.NameOfTheCenter;
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>

<main class="no-banner">
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Новости</h1>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href=@Url.Content("/api/Home/Index")> Главная </a></li>
                                <li class="breadcrumb-item active"> Новости </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container news-container">
            <div class="news-all__container">
                @foreach (var news in Model.News)
                {
                    <div class="news">
                        <img class="news__img" src=@news.Image alt="news">
                        <div class="news__wrapp">
                            <div class="news__content">
                                <div class="news__title">@news.Title</div>
                                <div class="news__text">
                                    @news.ShortText
                                </div>
                            </div>
                            <div class="news__wrapper-date">
                                <span class="news__date">@news.PublicationDate</span>
                                <div class="btn-container top-s-space news__btn">
                                    <a href=@Url.Content("/api/News/Details/" + @news.Id) class="btn btn-black has-radius-small">Читать далее</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <br>
        </div>
        <br>
    </section>
</main>

<footer>@await Html.PartialAsync("/Views/Shared/_Footer.cshtml", Model.Footer)</footer>