@model ITCenterBack.ViewModels.AllTeachersViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Преподаватели | IT - центр";
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>

<main class="no-banner">
    <!-- visual/banner of the page -->
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay bg-gray-light">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Преподаватели</h1>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href=@Url.Content("/api/Home/Index")> Главная </a></li>
                                <li class="breadcrumb-item active"> Преподаватели </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="centered__persons">

            <div class="persons">
                @foreach (var t in Model.Teachers)
                {
                    <div class="person">
                        <img class="person__avatar" src=@t.Image alt=@t.Name>
                        <span href=@t.Link class="person__name"><a href=@t.Link>@t.Name</a></span>
                        <span class="person__specialization">@t.Description</span>
                    </div>
                }
            </div>
        </div>
    </section>

</main>

<footer>@await Html.PartialAsync("/Views/Shared/_Footer.cshtml", Model.Footer)</footer>