@model ITCenterBack.ViewModels.SchelduleViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Расписание | IT - центр";
}

<header>@await Html.PartialAsync("/Views/Shared/_Header.cshtml", Model.Header)</header>
<main class="no-banner">
    <!-- visual/banner of the page -->
    <section class="visual visual-sub visual-no-bg">
        <div class="visual-inner no-overlay " style="
                    margin-bottom: 7%;
                ">
            <div class="centered">
                <div class="container">
                    <div class="visual-text visual-center">
                        <h1 class="visual-title visual-sub-title">Расписание</h1>
                        <div class="breadcrumb-block">
                            <ol class="breadcrumb">

                                <li class="breadcrumb-item active">
                                    АКТУАЛЬНОЕ РАСПИСАНИЕ ВСЕГДА МОЖНО НАЙТИ
                                    НА СТЕНДЕ НАПРОТИВ ДЕКАНАТА (АУД. 316).
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="page-portfolio__cards">

                    <div class="card-project">
                        <div class="card-project__img-wrapper">
                            <a href="./images/shedule.png">
                                <img src="./images/shedule.png" />
                                <div class="card-project__technology">New</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
