@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ITCenterBack.ViewModels.AboutUsViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "О нас";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			<div class="admin-form__item">
				<h2 class="heading">О нас</h2>
			</div>
			<table>
				<colgroup id="a" span="5"></colgroup>
				<thead>
					<tr>
						<th>Видео</th>
						<th>Описание</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><iframe width="100%" height="315" src=@Model.Url title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></td>
						<td>@Model.Description</td>
						<td>
							<a class="secondary-button" href=@Url.Content("/api/AboutUs/UpdateDescription")>Обновить описание</a> |
							<a class="secondary-button" href=@Url.Content("/api/AboutUs/UpdateUrl")>Обновить ссылку</a>
						</td>
					</tr>

				</tbody>
			</table>

			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>
