@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ITCenterBack.ViewModels.UpdateViewModels.UpdateAboutUsUrlViewModel
@{
	Layout = "/Views/Shared/_AdminLayout.cshtml";
	ViewBag.Title = "О нас";
}

<div class="admin-page__content">
	<div class="admin-page__content-form">
		<div class="admin-form">
			@using (Html.BeginForm())
			{
				<div class="admin-form__item">
					<h2 class="heading">Редактировать</h2>
				</div>
				<table>
					<colgroup id="a" span="5"></colgroup>
					<thead>
						<tr>
							<th>
								Ссылка
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>@Html.EditorFor(model => model.Url)</td>
						</tr>
					</tbody>
				</table>

				@Html.AntiForgeryToken()
				<div class="form-actions no-color">
					<input type="submit" value="Сохранить" class="file-button" />
					|
					@Html.ActionLink("Назад", "About")
				</div>
			}

			<div class="admin-form__item"></div>
			<div class="admin-form__item"></div>
		</div>
	</div>
</div>
